body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #EDEDED;
	min-width: 320px;
}
.wrapper{
	margin: 0 auto;
	max-width: 1000px;
}
header{
    background: #474747;
    height: 140px;
}
.header-txt{
    margin-top: 105px;
    position: relative;

}
.header-txt p{
	width: 58%;
	color: #c6c6c6;
	font-size: 23px;
	margin: 0;
	padding-top: 32px;
    line-height: 40px;
}
.price{
	height: 160px;
	position: absolute;
	top: -10px;
	right: 0;
	background: #2f549b;
	width: 40%;

}
.price img{
	position: absolute;
	top: 25%;
	left: 10%;
}
.price p{
	width: 30%;
	color: #fff;
	display: inline-block;
	font-size: 75px;
	position: absolute;
	top: 12%;
	left: 30%;
}
.price small{
	width: 30%;
	display: inline-block;
	color: #c6c6c6;
	font-size: 20px;
	line-height: 40px;
	position: absolute;
	top: 22%;
	left: 80%;
}
.items{
	width: 100%;
	margin-bottom: 80px;

}
.item{
	margin-top: 50px;
	display: inline-block;
	width: 22%;
	height: 400px;
	background: #fff;
	margin-right: 3%;
	text-align: center;
	vertical-align: top;
	position: relative;
	border: 1px solid #dfdfdf;

}
.item:last-child{
	
	margin-right: 0;
}
.item:hover{
	background: #2f549b;
	border: 1px solid #35476a;
}
.item:hover h1{
	color: #fff;
}
.item:hover h2{
	color: #fff;
}
.item:hover a{
	color: #fff;
}
.item:hover p{
	color: #7c9cdb;
}

.item img{
	position: absolute;
	top: 5%;
	left: 30%;
}
.item h1{
	color: #2f549b;
	padding-right: 30px;
	padding-left: 30px;	
	padding-top: 50%;
}
.item h2{
	font-size: 12px;
	color: #2f549b;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0;
	position: relative;
}
.item h2::after{
	content: '';
	height: 1px;
	width: 90px;
	position: absolute;
	background: #ccc;
	bottom: -17px;
	left: 50%;
	margin-left: -45px;
}
.item p{
	color: #5e5e5e;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10%;
}
.item a{
	color: #c6c6c6;
	padding-right: 30px;
	padding-left: 30px;
    padding-bottom: 0%;

}
footer{
	height: 178px;
	background: #c6c6c6;
	position: relative;

}
.label{
	width: 258px;
	height: 58px;
	background: #2f549b;
    position: absolute;
    top: -35px;
    left: 35%;
	z-index: 5;
	text-align: center;
}
.label h2{
	font-size: 25px;
	color: #fff;
	line-height: 10px;
}
.label::after{
	z-index: 10;
	content: ''; 
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 28px 0 0;
    border-color: #1f3560 transparent transparent transparent; 
    position: absolute; 
    right: -28px;
    bottom: 0px;
}
.label::before{
	z-index: 10;
    content: ''; 
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 28px 23px 0;
    border-color: transparent #1f3560 transparent transparent;
    position: absolute;
    left: -28px;
    bottom: 0px;

}
footer .items-footer {
   
}
footer .item-footer{
	display: inline-block;
	width: 140px;
	height: 110px;
    padding-top: 14px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 20px;
}

footer .item-footer h3{
	color: #5e5e5e;
	font-size: 12px;
    vertical-align: bottom;
    padding-top: 50px;
}
footer .item-footer:hover{
	background: #2f549b;
	border-radius: 3px;
	
}
footer .item-footer:hover h3{
	color: #fff;
}
.item1{
	width: 50px;
	height: 49px;
	position: absolute;
	left: 45px;
    background: url(../img/sprite1.png)  no-repeat;
}
footer .item-footer:hover .item1{
    background: url(../img/sprite1.png) 0px -49px no-repeat;
}
.item2{
	width: 46px;
	height: 46px;
	position: absolute;
	left: 45px;
    background: url(../img/sprite2.png) no-repeat;
}
footer .item-footer:hover .item2{
    background: url(../img/sprite2.png) 0px -46px no-repeat;
}
.item3{
	width: 52px;
	height: 41px;
	position: absolute;
	left: 45px;
    background: url(../img/sprite3.png) no-repeat;
}
footer .item-footer:hover .item3{
    background: url(../img/sprite3.png) 0px -41px no-repeat;
}
.item4{
	width: 49px;
	height: 37px;
	position: absolute;
	left: 45px;
    background: url(../img/sprite4.png) no-repeat;
}
footer .item-footer:hover .item4{
    background: url(../img/sprite4.png) 0px -37px no-repeat;
}
.item5{
	width: 48px;
	height: 41px;
	position: absolute;
	left: 45px;
    background: url(../img/sprite5.png) no-repeat;
}
footer .item-footer:hover .item5{
    background: url(../img/sprite5.png) 0px -41px no-repeat;
}
.item6{
	width: 42px;
	height: 40px;
	position: absolute;
	left: 45px;
    background: url(../img/sprite6.png) no-repeat;
}

footer .item-footer:hover .item6{
    background: url(../img/sprite6.png) 0px -40px no-repeat;
}